body {
  margin: 0;
  padding: 0;
}

html {
  font-family: "Nunito", sans-serif;
}

h2 {
  font-family: "Montserrat", sans-serif;
  font-size: 20px;
  color: #f8971d;
  font-weight: bold;
  margin-left: 50px;
}

p {
  font-family: "Montserrat", sans-serif;
  font-size: 16px;
  color: #000000;
  margin-left: 50px;
  margin-right: 50px;
}

@media (max-width: 748px) {
  p {
    margin-left: 25px;
    margin-right: 25px;
  }
}

li {
  font-family: "Montserrat", sans-serif;
  font-size: 16px;
  color: #000000;
  line-height: 19.2px;
  margin-left: 50px;
  margin-right: 50px;
}

img {
  max-width: 90%;
  margin: 3%;
}

.logo {
  display: block;
  margin-left: auto;
  margin-right: auto;
  margin-top: 50px;
  margin-bottom: 25px;
}

.questions {
  font-family: "Montserrat", sans-serif;
  font-size: 16px;
  color: #000000;
  line-height: 19.2px;
  margin-left: 50px;
  line-height: 5px;
}

@media (max-width: 748px) {
  .questions {
    margin-left: 0;
  }
}

.disclaimer {
  text-align: center;
  margin: 5%;
}

.priscila {
  text-align: center;
  margin-bottom: 40px;
}

.priscila span {
  white-space: nowrap;
}

.participants {
  display: block;
  margin-right: auto;
  margin-left: auto;
  margin-bottom: 50px;
  margin-top: 50px;
  object-fit: contain;
  height: auto;
}

@media (max-width: 748px) {
  .participants {
    margin: 0 30px;
  }
}

.empathy {
  display: block;
  margin-left: auto;
  margin-right: auto;
  margin-top: 50px;
  margin-bottom: 50px;
}

.quotes {
  display: block;
  margin-left: auto;
  margin-right: auto;
  margin-top: 50px;
  margin-bottom: 50px;
}
@media (max-width: 748px) {
  .empathy,
  .quotes {
    object-fit: contain;
    height: auto;
    margin: 30px auto;
  }
}

.artboard {
  display: block;
  margin-left: auto;
  margin-right: auto;
  margin-top: 50px;
  margin-bottom: 50px;
}

.sitemap {
  display: block;
  margin-left: auto;
  margin-right: auto;
  margin-top: 50px;
  margin-bottom: 50px;
}

.foodmenu {
  display: block;
  margin-left: auto;
  margin-right: auto;
  margin-top: 50px;
  margin-bottom: 50px;
}

.accessibility {
  margin-top: 50px;
  margin-bottom: 50px;
}

.accessibility img {
  display: block;
  object-fit: contain;
  height: auto;
  margin: 30px auto;
}

.issues-img {
  display: flex;
}

.issue-details {
  display: flex;
  max-width: 650px;
  margin: 5px auto;
}
.issue-details img {
  object-fit: contain;
}

@media (max-width: 748px) {
  .issue-details {
    display: contents;
  }
}

.introduction {
  border-bottom: #ed1c24 5px solid;
  margin-right: 50px;
}

.objectives {
  border-bottom: #ed1c24 5px solid;
  margin-right: 50px;
}

.methodology {
  border-bottom: #ed1c24 5px solid;
  margin-right: 50px;
}

.key {
  border-bottom: #ed1c24 5px solid;
  margin-right: 50px;
}

.insights {
  border-bottom: #ed1c24 5px solid;
  margin-right: 50px;
}

.map {
  border-bottom: #ed1c24 5px solid;
  margin-right: 50px;
}

.usability {
  border-bottom: #ed1c24 5px solid;
  margin-right: 50px;
}

.issue1 {
  margin-left: 50px;
}

.conclusion {
  border-bottom: #ed1c24 5px solid;
  margin-right: 50px;
  margin-top: 50px;
}
