*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body{
    background-color: #E8EBF1;
}

.nav{
    width: 100%;
    height: 60px;
    background-color: #364760;
    display: flex;
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
    z-index: 1;
}

.nav-logo{
    height: 60px;
    width: 250px;
    background-color: #313F53;
    text-align: center;
}

.nav-logo a{
    font-family: 'Montserrat', sans-serif;
    color: #fff;
    font-weight: 500;
    text-decoration: none;
    line-height: 60px;
    font-size: 24px;
}

.nav-logo a:hover{
    text-decoration: underline;
}

.burger_btn{
    width: 62px;
    height: 60px;
    border-right: 1px solid #ffffff30;
    display: block;
    cursor: pointer;
    text-align: center;
}

.burger_btn:hover i{
    color: #fff;
}

.burger_btn i{
    display: inline-block;
    font-size: 22px;
    color: rgba(255,255,255,.6);
    line-height: 60px;
}

.wrapper{
    position: relative;
    top: 60px;
}

.leftSide{
    width: 250px;
    height: 100%;
    position: fixed;
    background-color: #364760;
    top: 60px;
    left: 0;
    z-index: 1;
    transition: all .3s cubic-bezier(0.785, 0.135, 0.15, 0.86);
}

.leftSide .menu{
    padding: 15px;
}

.leftSide .menu a{
    display: block;
    color: rgba(255,255,255,.6);
    padding: 10px 10px;
    font-family: 'montserrat' ,sans-serif;
    font-size: 14px;
    font-weight: 400;
    text-decoration: none;
}

.leftSide .menu a:hover{
    color: #fff;
}

.leftSide .menu a i{
    padding-right: 3px;
}

.rightSide{
    width: 100%;
    padding-left: 250px;
    transition: all .3s cubic-bezier(0.785, 0.135, 0.15, 0.86);
}

.page-header{
    background-color: #fff;
    padding: 20px;
}

.page-header h1{
    font-size: 24px;
    font-family: 'Montserrat', sans-serif;
    font-weight: 400;
    color: #37363e;
    line-height: normal;
    padding-bottom: 6px;
}

.page-header p{
    font-family: 'Open Sans', sans-serif;
    font-weight: 400;
    color: #777;
    font-size: 14px;
}

.method{
    background-color: #fff;
    width: auto;
    margin: 20px 30px 0;
    border-radius: 3px;
    padding: 12px 20px;
}

.textWidget{
    margin: 0 auto;
    margin-bottom: 20px;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
}

.textWidgetInner{
    display:block;
    width: 30%;
    margin-bottom: 20px;
}

.textWidgetInner .promo{
    display: inline-block;
    width: 100%;
    margin-bottom: 10px;
}

.textWidgetInner .promo h3{
    display: block;
    font-size: 18px;
    font-weight: 600;
    position: relative;
    margin-top: 0;
    margin-bottom: 12px;
    padding-top: 6px;
    padding-bottom: 12px;
    border-bottom: 1px solid #f1f1f1;
    font-family: 'Open Sans', sans-serif;
    color: #37363e;
}

.textWidgetInner .promo i{
    display: inline-block;
    margin-right: 12px;
    font-size: 24px;
    vertical-align: middle;
    color: #0099e5;
}

.textWidgetInner .promo p{
    color: #666;
    font-size: 15px;
    padding: 0 0 12px;
    font-family: 'Open Sans', sans-serif;
}

.features h3{
    font-family: 'Open Sans', sans-serif;
    font-size: 22px;
    color: #37363e;
    font-weight: 400;
    line-height: 1.6;
}

.features-ul{
    display: flex;
    padding: 10px 40px 20px;
    flex-wrap: wrap;
}

.features-ul ul{
    width: 300px;
    margin-top: 20px;
}

.features-ul li{
    font-family: 'Open Sans', sans-serif;
    color: #777;
    font-size: 15px;
    margin-bottom: 5px;
}

.snippet{
    background-color: #EFEFEF;
    padding: .2em .5em;
    font-size: .8em;
    line-height: 1;
    color: #3E3E3E;
}

.snippet--red{
    background-color:#f44336;
    color: #fff;
}

.list{
    margin: 20px 0;
    padding: 0;
    font-size: 1em;
    line-height: 1.2;
}

.list a{
    color: #1976d2;
    text-decoration: none;
}

.list a:hover{
    text-decoration: underline;
}

.list li{
    font-family: 'Open Sans', sans-serif;
    color: #3E3E3E;
    list-style: none;
    margin-bottom: 20px;
}

b{
    font-weight: 700;
    display: inline-block;
    padding-bottom: 10px;
}

.list img{
    max-width: 708px;
    width: 100%;
    margin-bottom: 20px;
    display: block;
}

.footer{
    background-color: transparent;
    font-family: 'Open Sans', sans-serif;
    color: #3E3E3E;
    padding: 30px 0 50px;
}

.burger_btn_mob{
    display: none;
}

.colors li{
    display: inline-block;
    color: #fff;
    padding: 3px 10px;
    min-width: 80px;
    text-align: center;
}

.colorsTitle b{
    color: #222;
}







/* For JS */

.left{
    left: -250px;
}

.fullContent{
    padding-left: 0;
}







@media screen and (max-width: 1300px){
    .textWidgetInner{
        width: 48%;
    }
}

@media screen and (max-width: 1024px){
    .leftSide{
        left:-250px;
    }

    .rightSide{
        padding-left: 0;
    }

    .dn{
        display: none;
    }

    .burger_btn_mob{
        display: block;
    }

    .leftMob{
        left: 0;
        z-index: 1;
    }
}

@media screen and (max-width: 768px){
    .textWidgetInner{
        width: 100%;
    }
}